<%= form_for(@topic) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :short %><br />
    <%= f.text_field :short %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
